.login-card {
    margin: auto;
    max-width: 576px;
    flex-grow: 1;
    padding: 1rem;
}

.headerBG {
    background-color: var(--sjw-theme-200);
}

a:visited, a:hover, a:active, a:focus {
    color: var(--contrast-gs-color);
}
