<!-- CategoryFilter.razor -->

<div>
    <label class="form-label mt-4">Filter by Category</label>
    <InputSelect class="form-select"
                 @bind-Value="SelectedCategoryId"
                 @bind-Value:after="OnCategorySelectedInternal">
        <option value="">All Categories</option>
        @foreach (var category in Categories ?? Enumerable.Empty<CategoryDTO>())
        {
            <option value="@category.Id">@category.Name</option>
        }
    </InputSelect>
</div>
@code {
    [Parameter]
    public int? SelectedCategoryId { get; set; }

    [Parameter]
    public IEnumerable<CategoryDTO>? Categories { get; set; }

    [Parameter]
    public EventCallback<int?> OnCategorySelected { get; set; }

    private async Task OnCategorySelectedInternal()
    {
        await OnCategorySelected.InvokeAsync(SelectedCategoryId);
    }
}

