@*  SearchForm.razor  *@  
@using AddressBook2025.Client.Models  

<EditForm Model="@ContactSearchModel" OnValidSubmit="HandleSearch">  
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-group mb-3">  
        <InputText class="form-control border-0 rounded-2 ps-1"  
                   type="search"  
                   placeholder="Search Contacts by First, Last or Full Name"  
                   @bind-Value="ContactSearchModel.SearchTerm" />  
        <input type="submit" class="btn btn-primary" value="Search" />  
    </div>  
</EditForm>  

@code {  
    [Parameter]
    public string? SearchTerm { get; set; }

    [Parameter]  
    public EventCallback<string?> OnSearch { get; set; }  

    private ContactSearchModel ContactSearchModel { get; set; } = new ContactSearchModel();  

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(ContactSearchModel.SearchTerm))
        {
            ContactSearchModel.SearchTerm = SearchTerm;
        }
    }

    private async Task HandleSearch()  
    {   // Send the validated value back to the parent
        await OnSearch.InvokeAsync(ContactSearchModel.SearchTerm);  
    }  
}
