@*  SearchForm.razor  *@
<EditForm OnValidSubmit="HandleSearch">
    <div class="input-group mb-3">
        <InputText class="form-control border-0 rounded-2 ps-1"
                   type="search"
                   placeholder="Search Contacts by First, Last or Full Name"
                   @bind-Value="SearchTerm" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</EditForm>

@code {
    [Parameter]
    public string? SearchTerm { get; set; }

    [Parameter]
    public EventCallback<string?> OnSearch { get; set; }

    private async Task HandleSearch()
    {
        await OnSearch.InvokeAsync(SearchTerm);
    }
}

