.footerStyle {
    /*background-color: var(--sjw-theme-900);*/
    background-color: transparent;
    color: var(--sjw-footer-font-color);
}

.footerStyle a {
    color: var(--sjw-theme-200);
}

.footerStyle a:hover{
    color: var(--sjw-theme-core);
}

.bi {
    font-size: 2rem;
    padding-inline-start: .5rem;
}
.copyright{
    font-size: 1.25rem;
    color: var(--sjw-theme-200);
}
