@* Category Email *@
@page "/categories/email/{categoryId:int}"
@attribute [Authorize]
@rendermode InteractiveAuto

@inject ICategoryDTOService categoryDTOService
@inject NavigationManager navManager

@inherits AuthenticatedComponentBase

<PageTitle>Black Book Pro | Email Category</PageTitle>

@if (emailData is not null)
{
    <div class="container">
        <div class="card shadow-lg my-3">
            <div class="card-body">
                <EmailForm EmailData="emailData" OnSubmit="SendEmail" />
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public int CategoryId { get; set; }

    private CategoryDTO? category;
    private EmailData? emailData;


    protected override async Task OnInitializedWithAuthAsync()
    {
        try
        {
           
            category = await categoryDTOService.GetCategoryByIdAsync(CategoryId, UserInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            
        }

        if (category is not null)
        {
            emailData = new EmailData()
            {
                //returns an array of contacts with one field, email, separated with a semi-colon(";");
                Recipients = string.Join(";", category.Contacts.Select(category => category.Email)),
                Subject = $"Group message for {category.Name}",
                Body = string.Empty
            };
        }
        else
        {
            navManager.NavigateTo("/contacts");
        }
    }

    private async Task SendEmail(EmailData formEmailData)
    {
        string message = "Something went wrong. Please try again later.";
        try
        {
            //call email service
            bool success = await categoryDTOService.EmailCategoryAsync(CategoryId, formEmailData, UserInfo!.UserId);
            if (success) message = $"Email successfully sent to contacts in your {category!.Name}.";

        }
        catch (Exception ex)
        {

            Console.WriteLine(ex);
        }
        //navigate to Contact Page
        navManager.NavigateTo($"/contacts?message={message}");
    }
}
