@* CategoryAccordionEdit.razor *@

<EditForm Model="Category" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="d-lg-flex gap-3 p-3">
        <div class="flex-grow-1 hstack gap-2 align-items-center"
             role="button"
             data-bs-toggle="collapse"
             data-bs-target="#collapse-@Category.Id"
             aria-expanded="false">
            <span class="badge bg-secondary rounded-pill small">
                @Category.Contacts.Count
            </span>
            <div class="vstack gap-2">
                <InputText @bind-Value="Category.Name" class="form-control" />
                <ValidationMessage For="@(() => Category.Name)" class="text-danger" />
            </div>
        </div>
        <div class="mt-2 mt-lg-0">
            <span class="text-nowrap">
                <button type="submit" class="btn btn-sm btn-success me-1">
                    <i class="bi bi-check-lg" aria-label="Save"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary" @onclick="OnCancel">
                    <i class="bi bi-x-lg" aria-label="Cancel"></i>
                </button>
            </span>
        </div>
    </div>
</EditForm>

@code {
    [Parameter, EditorRequired]
    public CategoryDTO Category { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback OnSubmit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnCancel { get; set; }
}
