@* CategoryContactsList.razor *@

@using AddressBook2025.Client.Components.UIComponents.Icons
@inject IJSRuntime JS


<ul class="list-group">
    @if (Category?.Contacts.Count > 0)
    {
        @foreach (ContactDTO contact in Category.Contacts)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/contacts/contactdetails/@contact.Id" class="text-decoration-none text-dark">
                    <img class="contact-preview-img" src="@contact.ProfileImageUrl" alt="image for @contact.FullName" />
                    <span>@contact.FullName</span>
                </a>
                <ContactActionBar ContactId="@contact.Id" DisplayVariant="Category"/> 
            </li>
        }
    }
    else
    {
        <li class="list-group-item lead text-secondary">
                <div class="d-flex justify-content-center">
            <div class="hstack gap-2">
                    <span> No contacts in this category <i class="bi bi-emoji-frown"></i></span>
                    <NavLink class="btn btn-primary rounded pill"
                             href="/contacts"
                             @onclick="SetAddContactFlag">
                        <i class="bi bi-file-person"></i>   Add Contacts to Category
                    </NavLink>
                </div>
            </div>
        </li>

    }
</ul>


@code {
    [Parameter, EditorRequired]
    public ICollection<ContactDTO> Contacts { get; set; } = Array.Empty<ContactDTO>();

    [Parameter, EditorRequired]
    public CategoryDTO? Category { get; set; }

    private async Task SetAddContactFlag()
    {
        await JS.InvokeVoidAsync("sessionStorage.setItem", "showAddToast", "true");
    }

   
}
