@* CategoryAccordionView.razor *@

@using AddressBook2025.Client.Components.UIComponents.Icons
    
<div class="d-lg-flex gap-3 p-3">
    <div class="flex-grow-1 hstack gap-2 align-items-center"
         role="button"
         data-bs-toggle="collapse"
         data-bs-target="#collapse-@Category.Id"
         aria-expanded="false">
        <span class="badge bg-secondary rounded-pill sm">
            @Category.Contacts.Count
        </span>
        <span>
            @Category.Name
        </span>
    </div>
    <div>
        <CategoryActionBar CategoryId="@Category.Id"
                           OnEdit="OnEdit"
                           OnDelete="OnDelete"
                           OnToggle="@OnToggle"
                           IsExpanded ="isExpanded"/>

    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public CategoryDTO Category { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback OnEdit { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnDelete { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnToggle { get; set; }

    [Parameter, EditorRequired] 
    public bool IsExpanded { get; set; } = false;

    private bool isExpanded = false;

   
}
