@* CategoryContactsList.razor *@

<ul class="list-group">
    @if (Category?.Contacts.Count > 0)
    {
        @foreach (ContactDTO contact in Category.Contacts)
        {
            <li class="list-group-item d-flex gap-3 align-items-center">
                <a href="/contacts/edit/@contact.Id" class="text-decoration-none  text-dark">
                    <img class="contact-preview-img" src="@contact.ProfileImageUrl" alt="image for @contact.FullName" />
                    <span>@contact.FullName</span>
                </a>
            </li>
        }
    }
    else
    {
        <li class="list-group-item text-center lead text-secondary">
            No contacts in this category :(
        </li>

    }
</ul>


@code {
    [Parameter, EditorRequired]
    public ICollection<ContactDTO> Contacts { get; set; } = Array.Empty<ContactDTO>();
    
    [Parameter, EditorRequired]
    public CategoryDTO? Category { get; set; }

}
