@* CreateContactBtn *@

<div class="col text-end">
    <NavLink class="btn btn-primary rounded pill"
             href="/contacts/create">
        <i class="bi bi-file-person"></i> Create New Contact
    </NavLink>
</div>