@* SearchComponent *@



    <div class="mb-3 sideNav">
        <form>
            <div class="input-group mb-3">
                <InputText class="form-control border-0 rounded-2 ps-1"
                           type="search"
                           placeholder="Search Contacts"
                           @bind-Value="searchInput" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
        <div>
            <label class="form-label mt-4">Filter by Category</label>
            <InputSelect class="form-select" @bind-Value="CategoryId">
                <option value="">All Categories</option>
                @foreach (var category in categories ?? Enumerable.Empty<CategoryDTO>())
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>
    </div>

@code {
    [SupplyParameterFromQuery]
    private int? CategoryId { get; set; }

    [SupplyParameterFromQuery]
    private string? SearchTerm { get; set; }

    private string searchInput = string.Empty;
    private IEnumerable<ContactDTO>? contacts = Array.Empty<ContactDTO>();
    private IEnumerable<CategoryDTO>? categories = Array.Empty<CategoryDTO>();
}
