:root {
    --dark-gs-color: #131313;
    --light-gs-color: #ffffff;
    --hightlight-gs-color: yellow;
}

a{
    color: var(--light-gs-color);
    text-decoration: none;
}

a:visited, a:hover, a:active, a:focus{
    color: var(--hightlight-gs-color);
}



footer .social > a:hover {
    color: var(--hightlight-gs-color);
    opacity: 0.9;
}

body{
    color: var(--light-gs-color);
}

.pageBG{
    background: url("/img/AbstractSpheres.png");
   
    background-size: cover;

}
.glass-cf-style {
    color: var(--light-gs-color);
    backdrop-filter: blur(15px);
    background-color: rgba(153,223, 255, 0.17);
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

    


