@*Create Contact *@
@page "/contacts/create"
@attribute [Authorize]
@rendermode InteractiveAuto

@inject ILogger<IContactDTOService> logger
@inject IContactDTOService contactService
@inject NavigationManager NavManager

@inherits AuthenticatedComponentBase

<PageTitle>Address Book | Create Contact</PageTitle>

<div class="container">
    <div class="p-3 my-5 border border-2 shadow-lg bg-light">
        <ContactForm Contact="new ContactDTO()" OnSubmit="HandleSubmit"/>
    </div>
</div>


@code {
    
    private async Task HandleSubmit(ContactDTO contact)
    {
        try
        {

            if (UserInfo is not null)
            {
                await contactService.CreateContactAsync(contact, UserInfo.UserId);
                NavManager.NavigateTo("/contacts");
            }

        }
        catch (Exception ex)
        {

            Console.WriteLine("Error in HandleSubmit:");
            Console.WriteLine(ex.ToString());
            logger.LogError(ex, "Failed to create contact.");
        }
        
    }

}
